[Desktop Entry]
Type=Action
Name=Uncompress here (7zip)
Tooltip=here
Icon=document-open
Profiles=flcl

[X-Action-Profile flcl]
MimeTypes=application/*
Exec=usrj_uncompress_here %f
SelectionCount==1
