[Desktop Entry]
Type=Action
Name=Uncompress in new folder (7zip)
Tooltip=in new folder
Icon=folder-new
Profiles=flcl

[X-Action-Profile flcl]
MimeTypes=application/*
Exec=usrj_uncompress_in_new_folder %f
SelectionCount==1
