[Desktop Entry]
Type=Action
Name=Uncompress here (7zip)
Icon=extract-archive.png
Profiles=uncompress

[X-Action-Profile uncompress]
MimeTypes=application/*
Exec=bash usrj_uncompress_here %f
SelectionCount==1
