// Wiki:   https://github.com/YaLTeR/niri/wiki/Configuration:-Overview
// "/-" comments out the following node.


// spawn-at-startup "niri" "msg" "action" "do-screen-transition"
spawn-at-startup "swaybg" "--image" "/home/usrj/.config/wallpaper_desktop"
spawn-at-startup "waybar"
spawn-at-startup "waycorner"
// spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-sh-at-startup "~/.config/niri/import-GTK.sh"
// spawn-at-startup "xwayland-satellite" // v0.7+ integrated in niri since 25.08!
// spawn-sh-at-startup "~/.local/bin/usrj_niri_lowbattery_borders.sh"


hotkey-overlay { skip-at-startup; }
prefer-no-csd
screenshot-path "~/Pictures/scrots/%Y-%m-%d %H'%M\"%S.png"

input {
    keyboard {
        repeat-delay 250
        repeat-rate 40
        xkb {
            options "grp:menu_rctrl" // see xkeyboard-config(7)
        }
    }

    touchpad {
        // off // (gets toggled by script, dont erase)
        click-method "clickfinger"
        scroll-factor 0.7
        natural-scroll
        tap
        dwt
    }

    /-mouse {
        natural-scroll
    }
}

cursor {
    xcursor-theme "phinger-cursors-light"
    // xcursor-size 16

    // hide-when-typing
    hide-after-inactive-ms 1000
}

output "eDP-1" {
    background-color "transparent"
    mode "1920x1080@60.000"
    //mode "1280x720"
    position x=0 y=0
    scale 1
}

overview {
    workspace-shadow { off; }
    zoom 0.4
}

layer-rule {
    match namespace="^wallpaper$" // niri msg layers
    place-within-backdrop true
}

layout {
    background-color "transparent"

    gaps 5

    default-column-width { proportion 1.0; }

    focus-ring { off; }
    border { // Regular
        width 1
        active-color "#3B9C65"
        inactive-color "#665C54"

        active-gradient from="#297D33" to="#2A5096" angle=135
    }
    /-border { // Low Battery (gets toggled by script, dont erase)
        width 2
        active-color "#A00"
        inactive-color "#A40"

        active-gradient from="#F00" to="#F60" angle=135
        inactive-gradient from="#A00" to="#A60" angle=135        
    }

    insert-hint { off; }
}

animations { slowdown 0.8; }

window-rule {
    match is-window-cast-target=true

    border {
        active-color "#7D0D2D"
        inactive-color "#5E0414"

        active-gradient from="#A61C00" to="#7D0D2D" angle=135
    }
}

window-rule {
    match is-active=false

    opacity 0.9
}

window-rule {
    match app-id="foot"
    match app-id="pcmanfm"
    match app-id="com.obsproject.Studio"
    
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="scrcpy"

    default-column-width { fixed 496; }
}

window-rule {
    match title="settuings"

    baba-is-float true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="nm-connection-editor"
    match app-id="blueman-manager"
    match app-id="pwvucontrol"
    match title="settuings"
    match title="taskman"
    match title="Execute File"
    match app-id="fontforge"
    exclude app-id="fontforge" title=r#".+[[:space:]]+.+[[:space:]]+\(.+\)"#
    exclude app-id="fontforge" title=r#".+ at [0-9]+ from .+"#
    match title=r#" — Krita"#
    match title="exif-popup"
    match title=r#"Sign in"#

    open-floating true
}

window-rule {
    match title="vgmplay"

    open-floating true
    default-column-width { fixed 600; }
    default-window-height { fixed 300; }
    default-floating-position x=20 y=20 relative-to="bottom-right"
}

window-rule { // "Open file" pop-ups
    match app-id="xdg-desktop-portal-gtk"
    match app-id="fontforge" title="Open Font"

    open-floating true // Not necessary, already by default
    default-column-width { fixed 1000; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="krita"
    match app-id="REAPER"

    open-maximized true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#

    default-floating-position x=10 y=10 relative-to="bottom-right"
}

/-window-rule {
    match app-id="blueman-applet"
    match is-floating=true

    close-window // That won't work. There isn't even a "run this in sh" option
}

// repeat=false, cooldown-ms=500
binds {
    Mod+E             repeat=false { spawn-sh "nmcli c up eduroam"; } // cause this trash wifi keeps disconnecting

    // Mod+Shift+V       repeat=false { spawn-sh "cliphist list | tofi | cliphist decode | wl-copy"; }
    // Mod+V             repeat=false { spawn "wl-paste"; }
    Mod+L             repeat=false { spawn-sh "'niri msg power-off-monitors && swaylock'"; } // power-off is a toggle it's DPMS
    Ctrl+Shift+Escape repeat=false { spawn-sh "foot -W 75x40 -T 'taskman' top"; }
    Mod+Return        repeat=false { spawn "foot"; }
    Mod+BackSlash     repeat=false { spawn "pcmanfm"; }
    Mod+Shift_R       repeat=false { spawn "pcmanfm"; }
    Mod+D             repeat=false { spawn "fuzzel"; }
    Mod+I             repeat=false { spawn "firefox"; }
    Ctrl+Shift+Caps_Lock  repeat=false { spawn "obs-cmd" "recording" "toggle"; }

    XF86MonBrightnessUp   { spawn "brightnessctl" "set" "5%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioStop { spawn "playerctl" "--all-players" "stop"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioNext { spawn "playerctl" "next"; }

    Shift+XF86AudioRaiseVolume { spawn "playerctl" "volume" "0.02+"; }
    Shift+XF86AudioLowerVolume { spawn "playerctl" "volume" "0.02-"; }
    // Shift+XF86AudioPlay        { spawn "playerctl" "shuffle" "Toggle"; }
    // Shift+XF86AudioStop        { spawn "bash" "-c" "[[ $(playerctl loop) != '' && $(playerctl loop) == 'None' ]] && playerctl loop Track || playerctl loop None"; }
    Shift+XF86AudioPrev        { spawn "playerctld" "unshift"; }
    Shift+XF86AudioNext        { spawn "playerctld" "shift"; }

    // Doesn't seem to work either
    // XF86Calculator   repeat=false { spawn-sh "NIRI_CONFIG=$XDG_CONFIG_HOME/niri/config.kdl; grep -e '// off // (gets toggled' $NIRI_CONFIG && sed  -i 's/\/\/ off \/\/ (gets toggled by script, dont erase)/off \/\/ (gets toggled by script, dont erase)/' $NIRI_CONFIG || sed -i 's/off \/\/ (gets toggled by script, dont erase)/\/\/ off \/\/ (gets toggled by script, dont erase)/' $NIRI_CONFIG"; }

    Mod+MouseMiddle      repeat=false { close-window; } 
    Mod+Delete           repeat=false { close-window; }
    Mod+Q                repeat=false { close-window; }

    Ctrl+Shift+E { center-column; }

    Mod+Up               { focus-window-or-workspace-up; }
    Mod+Down             { focus-window-or-workspace-down; }
    Mod+Left             { focus-column-left; }
    Mod+Right            { focus-column-right; }

    Mod+Home             { focus-column-first; }
    Mod+End              { focus-column-last; }
    Mod+Page_Up          { focus-workspace-up; }
    Mod+Page_Down        { focus-workspace-down; }

    Mod+Ctrl+Up          { spawn "niri" "msg" "output" "eDP-1" "transform" "normal"; }
    Mod+Ctrl+Down        { spawn "niri" "msg" "output" "eDP-1" "transform" "180"; }
    Mod+Ctrl+Left        { spawn "niri" "msg" "output" "eDP-1" "transform" "90"; }
    Mod+Ctrl+Right       { spawn "niri" "msg" "output" "eDP-1" "transform" "270"; }

    Mod+Shift+Up         { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down       { move-window-down-or-to-workspace-down; }
    Mod+Shift+Left       { move-column-left; }
    Mod+Shift+Right      { move-column-right; }

    Mod+Shift+Home       { move-column-to-first; }
    Mod+Shift+End        { move-column-to-last; }
    Mod+Shift+Page_Up    { move-column-to-workspace-up; }
    Mod+Shift+Page_Down  { move-column-to-workspace-down; }

    Mod+Ctrl+Page_Up     { move-workspace-up; }
    Mod+Ctrl+Page_Down   { move-workspace-down; }

    Mod+WheelScrollUp              cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollDown            cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }

    Mod+TouchpadScrollUp           cooldown-ms=200 { focus-workspace-up; }
    Mod+TouchpadScrollDown         cooldown-ms=200 { focus-workspace-down; }
    Mod+TouchpadScrollLeft         cooldown-ms=80  { focus-column-left; }
    Mod+TouchpadScrollRight        cooldown-ms=80  { focus-column-right; }

    Mod+Ctrl+WheelScrollUp         cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown       cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    // Mod+Comma        { consume-window-into-column; }
    // Mod+Period       { expel-window-from-column; }

    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Alt+F   { toggle-windowed-fullscreen; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Space       { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

    Mod+Print   { screenshot-screen; } // TODO: doesn't work
    Mod+Ctrl+S  { screenshot-window; }
    Mod+Shift+S { screenshot; }

    Mod+Shift+R     allow-inhibiting=false { spawn "sh" "-c" "killall waybar && waybar"; }
    Mod+Shift+E     allow-inhibiting=false { quit; }
    Ctrl+Alt+Delete allow-inhibiting=false { quit; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
