[Desktop Entry]
Type=Action
Name=View image information (feh)
Icon=exifinfo
Profiles=flcl

[X-Action-Profile flcl]
MimeTypes=image/*;
Exec=bash usrj_view_image_infos %f
SelectionCount==1
