[Desktop Entry]
Name=Online User Guide
Exec=env "WINEPREFIX=/home/usrj/.wine" wine "C:\\\\users\\\\usrj\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start Menu\\\\Programs\\\\Enterprise Architect 16\\\\Online User Guide.lnk"
Type=Application
StartupNotify=true
StartupWMClass=index.html

NoDisplay=true
