[Desktop Entry]
Type=Application
Icon=~/.icons/custom_icons/blender.svg
Name=Blender
Comment=3D CG Editor
Exec=/opt/blender-4.4.3-linux-x64/blender
StartupNotify=true
Terminal=false
