[Desktop Entry]
Type=Application
Name=Caprine
GenericName=IM Client
Comment=Elegant Facebook Messenger desktop app
Icon=messenger_2025
Exec=/opt/Caprine-2.60.3.AppImage
Keywords=Messenger;Facebook;Chat;
Categories=GTK;InstantMessaging;Network;
StartupNotify=true
