[Desktop Entry]
Type=Application
Name=Furnace Tracker
GenericName=Furnace Tracker
Comment=A multipurpose tracker featuring many recognizable soundchips
Exec=wine /opt/furnace/furnace
Terminal=false
Icon=furnace
Categories=Audio
StartupNotify=false
