[Desktop Entry]
Type=Application
Icon=~/.icons/custom_icons/simulide.svg
Name=SimulIDE (polymtl ver.)
Comment=Enhanced SimulIDE by Polytechnique Montreal
Categories=Utility;
Exec=/opt/SimulIDE_0.3.12-SR8-INF1900.3/bin/simulide
StartupNotify=true
Terminal=false
