[Desktop Entry]
Type=Application
Name=Snes9x
GenericName=SNES Emulator
Comment=The simplest yet best emulator for Super NES
Exec=/opt/Snes9x-1.63-x86_64.AppImage
Terminal=false
Icon=SNES9X_logo
Categories=Games
StartupNotify=false
