[Desktop Entry]
Type=Application
Name=SPCPlay
GenericName=SNES SPC700 Player
Comment=A very simple SPC player for Windows based on SNESAPU.
# Exec=wine /home/usrj/.local/bin/spcplay-mpris "%f"
Exec=wine /opt/spcplay-2.21.3.8916/spcplay.exe "%f"
Terminal=false
Icon=spcplay
Categories=Audio;AudioVideo;Player
StartupNotify=false
