[Desktop Entry]
Type=Application
Name=SPCPlay
GenericName=SNES SPC700 Player
Comment=A very simple SPC player for Windows based on SNESAPU.
Exec=/home/usrj/.local/bin/spcplay-mpris "%f"
Terminal=false
Icon=.icons/custom_icons/spcplay.png
Categories=Audio;AudioVideo;Player
StartupNotify=false
