[Desktop Entry]
Type=Application
Icon=FIND_ONE_NONE_FOR_NOW
Name=SimulIDE (polymtl ver.)
Comment=Enhanced SimulIDE by Polytechnique Montreal
Categories=Utility;
Exec=/opt/SimulIDE_0.3.12-SR8-INF1900.3/bin/simulide
StartupNotify=true
Terminal=false
