[Desktop Entry]
Type=Application
Name=SNESgss
GenericName=SNESGSS Tracker
Comment=A SNES Tracker for Windows
Exec=wine /opt/snesgss-master/snesgss.exe
Terminal=false
Icon=.icons/custom_icons/snesgss.png
Categories=Audio
StartupNotify=false
