[Desktop Entry]
Type=Application
Name=SPC700
GenericName=SNES SPC700 Player
Comment=A very simple SPC player for Windows based on SNESAPU.
Exec=wine /opt/spcplay-2.20.6.8700/spcplay.exe
Terminal=false
Icon=.icons/custom_icons/spc700.png
Categories=Audio
StartupNotify=false
