[Desktop Entry]
Type=Action
Name=Set as wallpaper with lanczos filter (awww) (for HD)
Tooltip=with lanczos filter (for HD)
Icon=labplot-xy-smoothing-curve
Profiles=flcl

[X-Action-Profile flcl]
MimeTypes=image/gif;image/jpe;image/jpg;image/jpeg;image/png;image/tiff;image/tif;image/bmp;image/x-ms-bmp;
Exec=usrj_set_as_wallpaper -f Lanczos3 -t any --transition-duration 1.5 %f
SelectionCount==1
